 /* ESTILIZAÇÃO: CONTAINER(CONTEÚDO) */


 .container {
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }

 .container h1 {
     font-size: 50px;
 }