/* Estilo Do Conteúdo */
 .container {
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding-left: 250px;

 }

 .container h1 {
     font-size: 50px;
 }