body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 39px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}


.navbar-brand {
  display: flex;
  align-items: center;

}

#link_null {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 400;
}



#main-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

.change_navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navbar-brand {
  padding-left: 20px;
}

.user_logged {
  padding-right: 20px;
}

#user_name {
  font-size: 20px;
  margin: 0px;
}

#list_itens a {
  font-size: 20px;
  color: #000000;
  /* padding: px; */

}

#list_itens a:hover {
  background-color: rgb(129, 18, 151);
  color: #ffffff;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container h1 {
  font-size: 50px;
}

#list-and-log-off {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#btn-logoff input {
  font-size: 20px;
  background-color: rgb(129, 18, 151);
  width: 100px;
  color: #ffffff;


}

#btn-logoff {
  padding: 10px;
  text-align: center;
}